    <head> 
        <title>Beav Guesser</title>
        <link rel="stylesheet" href="..\css_files\style.css">
    </head>

    <body class="body">
        <!-- topnav represents the navigation bar at the top of the page AND IS CURRENTLY UNIQUE FOR EACH HTML FILE-->
        <div class="topnav">
            <div class="topnav-group" id="topnav-left-group">
                <button class="topnav-item button-background-fix logo-fix" onclick="goToPage('/')"><img src="..\image_files\bevLogo.png" height="25" width="50"></button>
                <button class="topnav-item button-background-fix {{isActive '/about' currentPagePath}}" onclick="goToPage('/about')">About</button>
                <button class="topnav-item button-background-fix {{isActive '/leaderboard' currentPagePath}}" onclick="goToPage('leaderboard')">Leaderboard</button>
            </div>
            <div class="topnav-group" id="topnav-right-group">
                {{#if isLoggedIn}}
                <button id="profile-button" class="topnav-item button-background-fix {{isActive '/profile' currentPagePath}}" onclick="goToPage('/profile')">Profile</button> 
                {{else}}
                <button id="login-button" class="topnav-item button-background-fix {{isActive '/login' currentPagePath}}" onclick="goToPage('/login')">Login</button>
                <button id="signup-button" class="topnav-item button-background-fix {{isActive '/signup' currentPagePath}}" onclick="goToPage('/signup')">Signup</button>
                {{/if}}
            </div>
        </div>

       {{{body}}}

       <script src="/javascript_files/scoring.js"></script>
       <script src="/javascript_files/Page_functions.js"></script>
    </body>
</html>
